/* .portfolio_container {
  display: grid;
  --grid: repeat(2);
} */

/* ############ old version ########## */
.portfolio-section {
  /* background-color: #191919; */
  margin: 4em;
}
.portfolio-section img {
  width: 100%;
  /* height: 50%; */
}
.portfolio-section p {
  padding: 2em;
  font-size: 120%;
}

.portfolio-section h2 {
  text-align: center;
  color: white;
  font-size: 500%;
  text-transform: capitalize;
  margin-bottom: 1.2rem;
}
.portfolio_container {
  /* display: grid;

  grid-template-columns: 50% 50%;
  grid-gap: 2em; */

  display: grid;
  --cell: 200px;
  --grid: repeat(3, var(--cell));
  grid-gap: min(4vw, 1em);
  justify-content: center;
  grid-template: var(--grid) / var(--grid);

  width: 100%;

  padding: 0;
  width: 100%;

  margin: 2rem;
}
/* .item {
  padding: 1rem;
  border-radius: 1.5rem;
}
.item:hover {
  transform: translateY(-0.3rem);
}
.grid_1 {
  background-color: #ff7f11;
  color: #101010;
}
.grid_1:hover {
  background-color: #101010;
  color: #ff7f11;
  border: #ff7f11 0.12rem solid;
}
.grid_2 {
  background-color: #ff7f11;
  color: #101010;
}
.grid_2:hover {
  background-color: #101010;
  color: #ff7f11;
  border: #ff7f11 0.125rem solid;
}
.grid_3 {
  background-color: #ff7f11;
  color: #101010;
}
.grid_3:hover {
  background-color: #101010;
  color: #ff7f11;
  border: #ff7f11 0.125px solid;
}
.grid_4 {
  background-color: #ff7f11;
  color: #101010;
}
.grid_4:hover {
  background-color: #101010;
  color: #ff7f11;
  border: #ff7f11 0.125rem solid;
}
.portfolio-section .portfolio_container .port_img {
  width: 50%;
  height: auto;
  padding: 2em;

  float: left;
  margin-right: 1em;
}
.portfolio-section h3 {
  padding: 2em;
} */
